<div class="delete-item-container">
    <div class="delete-item-header">
        <h2>Delete Item</h2>
        <button class='close-button' (click)="close()">X</button>
    </div>
    <div class="delete-item-sub-container">
        <div>Are you sure you want to delete
            the item "{{selectedItem.itemName}}"?</div>
        <div class="delete-item-buttons-container">
            <button class="main-button" (click)=" deleteItem(selectedItem)">Delete</button>
            <button class="cancel-button" (click)="close()">Cancel</button>
        </div>
    </div>
</div>