.delete-item-container {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #d7b3d4;
    border-radius: 16px;

    .delete-item-header {
        background-color: #6490CB;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 380px;
        padding: 0 1rem;
        height: 3rem;
        border-radius: 16px 16px 0 0;
    }

    .delete-item-sub-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100px;


        .delete-item-buttons-container {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }

}