<div class="modal-container">
    <div class="modal-header">
        <h2>Edit Profile</h2>
        <button class="close-button" (click)="close()">X</button>
    </div>
    <form class="modal-form" #newData="ngForm" (submit)="editInfo(newData)">
        <div>
            Username
            <input type="text" name="username" placeholder="Username" ngModel />
        </div>
        <div>
            First name
            <input type="text" name="firstName" placeholder="First name" ngModel />
        </div>
        <div>
            Last name
            <input type="text" name="lastName" placeholder="Last name" ngModel />
        </div>
    </form>
    <div class="modal-footer">
        <div class="modal-buttons-container">
            <button class="main-button" (click)="editInfo(newData)">Save</button>
            <button class="cancel-button" (click)="close()">Cancel</button>
        </div>
    </div>
</div>