.my-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-items-sub-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .my-items-item-container {
            background-color: white;
            margin: 1rem;
            padding: 1rem;
            border-radius: 16px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 200px;
                height: 150px;
                object-fit: contain;
                border-radius: 6px;
            }

            .my-items-name-price-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 200px;

                span {
                    color: grey;
                }
            }

            .edit-item-button-container {
                margin: 1rem;
            }
        }
    }

    .no-items-yet {
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.486);
        box-shadow: -5px 5px 9px #000;
        border-radius: 16px;
        width: fit-content;
        padding: 1rem;
    }
}

//update item
.update-item-modal {
    display: none;
}

.update-item-hidden-div.update-item-open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}

.update-item-modal.update-item-open {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// delete modal

.delete-modal {
    display: none;
}

.delete-item-hidden-div.delete-open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}

.delete-modal.delete-open {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .delete-modal-header {
        background-color: #cd729c;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 16px 16px 0 0;
    }

    .confirmation {
        font-size: 1.5rem;
        color: red;
        width: 70%;
    }

    .delete-modal-buttons-container {
        display: flex;
        gap: 1rem;

        button {
            margin-bottom: .5rem;
        }
    }
}

// add item

.add-item-modal {
    display: none;
}

.add-item-hidden-div.add-item-open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.add-item-modal.add-item-open {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media(min-width: 800px) and (max-height: 331px) {
    .my-items-container {

        .my-items-sub-container {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .my-items-item-container {
                width: 250px;

                img {
                    width: 200px;
                    height: 150px;
                }
            }
        }

    }

    .add-item-modal.add-item-open,
    .update-item-modal.update-item-open {
        height: 200px;
        overflow-y: scroll;
    }
}

@media (min-width: 599px) {
    .my-items-container {

        .my-items-sub-container {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .my-items-item-container {
                width: 250px;

                img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .my-items-container {

        .my-items-sub-container {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .my-items-item-container {
                width: 400px;

                img {
                    width: 300px;
                    height: 200px;
                }

                .my-items-name-price-container {
                    width: 300px;
                }
            }
        }
    }
}

@media (min-width: 1250px) {
    .my-items-container {

        .my-items-sub-container {

            .my-items-item-container {
                background-color: rgb(249, 241, 241);
            }
        }
    }
}