<div class="my-items-container">
    <div class="my-items-sub-container">
        <div class="my-items-item-container" *ngFor="let item of userItems">
            <img src={{item.imgUrl}} />
            <div class="my-items-name-price-container">
                <h3>{{item.itemName}}</h3>
                <span class="item-price">{{item.price | currency: "EUR"}}</span>
            </div>
            <!-- ========================= -->
            <div class="edit-item-button-container">
                <button class="main-button" (click)="openUpdateItemModal(item)">Edit item</button>
                <div class="update-item-hidden-div" [class.update-item-open]="openCloseUpdateItemModal"></div>
                <div class="update-item-modal" [class.update-item-open]="openCloseUpdateItemModal">
                    <app-update-item [selectedItem]="selectedItem" (closeModal)="openCloseUpdateItemModal = false"
                        (itemsUpdate)="loadUserItems()"></app-update-item>
                </div>
            </div>
            <!-- ================= -->

            <div class="delete-item-container">
                <button (click)="openDeleteModal(item)" class="main-button">Delete item</button>
            </div>
            <div class="delete-item-hidden-div" [class.delete-open]="openCloseDeleteModal"></div>
            <div class="delete-modal" [class.delete-open]="openCloseDeleteModal">
                <app-delete-item [selectedItem]="selectedItem" (closeModal)="openCloseDeleteModal = false"
                    (itemsUpdate)="loadUserItems()"></app-delete-item>
            </div>
        </div>
        <!-- ================== -->
    </div>
    <div *ngIf="userItems.length === 0" class='no-items-yet'>
        <h2>you don't have items yet</h2>
    </div>
    <button class="main-button" (click)="openAddModal()">Add item</button>
    <div class="add-item-hidden-div" [class.add-item-open]="openCloseAddItemModal"></div>
    <div class="add-item-modal" [class.add-item-open]="openCloseAddItemModal">
        <app-add-item (closeModal)="openCloseAddItemModal = false" (itemsUpdate)="loadUserItems()"></app-add-item>

    </div>
</div>