<div class="modal-container">

    <div class='modal-header'>
        <h2>Add Item</h2>
        <button class='close-button' (click)="close()">X</button>
    </div>
    <form #newItem="ngForm" (submit)="addItem(newItem)" class="modal-form">
        <div>
            Name
            <input type="text" name="itemName" placeholder="Name" required="" ngModel />
        </div>
        <div>
            Price
            <input type="number" name="price" placeholder="Price" required="" ngModel />
        </div>
        <div class="choose-file">
            Image
            <input size="60" type="file" name="imgUrl" placeholder="Choose file" required=""
                (change)="imageHandler($event)" ngModel />
        </div>
    </form>
    <div class="modal-footer">
        <div *ngIf="imgSelected" class="upload-button-container">
            <button (click)="uploadImage()" class="upload-button">Upload</button>
        </div>
        <div class="modal-buttons-container">
            <div *ngIf="uploaded">
                <button (click)="addItem(newItem)" class="main-button">Save</button>
            </div>
            <div *ngIf="!uploaded">
                <button disabled class="disabled-button">Save</button>
            </div>
            <button (click)="close()" class="cancel-button">Cancel</button>
        </div>
    </div>
</div>