.sign-up-container {
    padding-top: 5rem;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;

    button {
        color: black;
    }

    form {
        max-width: 380px;

        .signup-buttons-container {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }

    .error-message {
        color: red;
        width: 100%;
        position: fixed;
        top: 7%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

.ng-star-inserted {
    width: 100%;
}

.mat-mdc-card {
    box-shadow: none;
    background-color: transparent;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}