<div class="update-item-container">
    <div class='update-item-header'>
        <h2>Update Item</h2>
        <button class='close-button' (click)="close()">X</button>
    </div>
    <form #selectedItemUpdate="ngForm" (submit)="updateItem(selectedItemUpdate)" class="update-item-form">
        <div>
            New name
            <input type="text" name="updateItemName" placeholder="Item name" ngModel />
        </div>
        <div>
            new Price
            <input type="number" name="updatePrice" placeholder="Price" ngModel />
        </div>
        <div>
            New image
            <input type="file" name="imgUrl" placeholder="Choose file" (change)="imageHandler($event)" ngModel />
        </div>
    </form>
    <div class="update-item-button-container">
        <div *ngIf="uploaded===''">
            <button (click)=" uploadImage()" class="upload-button">Upload</button>
        </div>
        <div>
            <button (click)="updateItem(selectedItemUpdate)" class="main-button">Save</button>
        </div>
        <button (click)="close()" class="cancel-button">Cancel</button>
    </div>
</div>