<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="navbar-container">
  <div class="bar-button-container">
    <div class='bar-button' (click)="toggleSwitcher()">
      <div class="bar top {{burger}}"></div>
      <div class="bar middle {{burger}}"></div>
      <div class="bar bottom {{burger}}"></div>
    </div>
    <div class='pages'>
      <div class=" burger-menu {{(menu)}}">
        <div class='routes-container'>
          <a routerLink=""><button (click)="toggleSwitcher()">Home</button></a>
          <a routerLink="store"><button (click)="toggleSwitcher()">Store</button></a>
          <a routerLink="about"><button (click)="toggleSwitcher()">About</button></a>
        </div>
        <div *ngIf="!ngDoCheck()" class='signUp-login-container'>
          <a routerLink="login"><button (click)="toggleSwitcher()">Login</button></a>
          <a routerLink="signup"><button (click)="toggleSwitcher()">Sign Up</button></a>
        </div>
        <div *ngIf="ngDoCheck()" class='signUp-login-container'><button (click)="logOut()">Logout</button></div>
      </div>
    </div>
    <div *ngIf="ngDoCheck()" class="user-icon-container">
      <a routerLink="myprofile">
        <div class="userinfo-icon">
          {{userIcon}}
        </div>
      </a>
    </div>
  </div>
  <div class="app-name">
    <a routerLink="">
      <h2>Shopping App</h2>
    </a>
  </div>
  <div class="landscape">
    <div class="app-name-landscape">
      <a routerLink="">
        <h2>Shopping App</h2>
      </a>
    </div>
    <div *ngIf="ngDoCheck()" class="user-icon-container-landscape">
      <a routerLink="myprofile">
        <div class="userinfo-icon">
          {{userIcon}}
        </div>
      </a>
    </div>
    <a routerLink=""><button class="landscape-route">Home</button></a>
    <a routerLink="store"><button class="landscape-route">Store</button></a>
    <a routerLink="about"><button class="landscape-route">About</button></a>
    <div *ngIf="!ngDoCheck()" class='signUp-login-container'>
      <a routerLink="login"><button class="landscape-route">Login</button></a>
    </div>
    <div *ngIf="!ngDoCheck()" class='signUp-login-container'>
      <a routerLink="signup"><button class="landscape-route">Sign Up</button></a>
    </div>
    <div *ngIf="ngDoCheck()" class='signUp-login-container'>
      <button class="landscape-route" (click)="logOut()">Logout</button>
    </div>
  </div>
  <div class="cart-button-div">
    <button (click)="toggleCart()" class="cart-button">
      <mat-icon class="cart-icon">shopping_cart</mat-icon>
      <span class="cart-quantity" *ngIf="cartQuantity > 0">{{ cartQuantity }}</span>
    </button>
    <div class="offcanvas" [class.cart-open]="showCart">
      <app-cart (closeCart)="showCart = false" (cartQuantity)="emptyCart()"></app-cart>
    </div>
  </div>
</div>