<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form class="example-form" #loginForm="ngForm" (submit)="login(loginForm)">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" name="email" type="email" required ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password" autocomplete required
            [type]="hide ? 'password' : 'text'" ngModel>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary">Login</button>
          <a style="margin: 5px" mat-raised-button color="warn" (click)="RedirectRegister()">Register</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>