<div class="about-container">
    <div>
        <h2>About the App</h2>
        <p>
            Shopping Cart App is an E-Commerce Application that allows users to buy products without the need to sign
            up.
            signing up allows them to sell their products as well as buying other's products.
        </p>
    </div>
    <div>
        <h2>About the Project</h2>
        <p>
            shopping Cart App is a fullstack project, created with Angular-Typescript.
        </p>
    </div>
    <div>
        <h2>Technologies Used</h2>
        <p>Typescript, MongoDB, Express, Angular, NodeJs, BCryptJs and JWT.</p>
    </div>
</div>